<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RFHNC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RFHNC.Properties.Settings>
            <setting name="lastupdated" serializeAs="String">
                <value />
            </setting>
            <setting name="sessionId" serializeAs="String">
                <value />
            </setting>
            <setting name="matrikelnummer" serializeAs="String">
                <value />
            </setting>
            <setting name="passwort" serializeAs="String">
                <value />
            </setting>
            <setting name="checking" serializeAs="String">
                <value>False</value>
            </setting>
        </RFHNC.Properties.Settings>
    </userSettings>
</configuration>